:root{
    --white:#FFFFFF;
    --graybase:#616A6B ;
    --black:#000000;
    --base-color-dark:#eee4e4;
    --base-color-light:#f3eded;
    --blue-light:#145374;
    --blue-dark:#00334E;
    --salmon-focus:#EE6F57;

    --vs:8px;
    --sm:12px;
    --md:16px;
    --lg:20px;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-evenly;
}

.navbar-left{
    display: grid;
    place-items: center;
}
.logo{
    width: 100px;
    justify-self: center;
}

.navbar-right{
    display: grid;
    place-items: center;
    
}
.lupa{
    width: 10px;
    height: 10px;
    justify-self: center;
    padding: 4px;
   
}
.menu{
    width: 10px;
    justify-self: center;
    padding: 4px;
    display: none;
}

.navbar-right ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.navbar-right ul li a{
    display: grid;
    place-items: center;
    text-decoration: none;
    color:var(--graybase);
    padding: 8px;
    border-radius: 8px;
    font-size: var(--vs);
    
}
.navbar-right ul li a:hover{
    text-decoration: none;
    color: var(--blue-dark);
    border: 1px solid var(--salmon-focus);
    border-radius: 8px;
   
}

@media (max-width:400px){/*Cuando la pantalla llegue a 400px se aplican estas propiedades*/
    nav{
        display: flex;
        justify-content: space-around;
        }

    .navbar-right ul li:nth-child(1),
    .navbar-right ul li:nth-child(2),
    .navbar-right ul li:nth-child(3),
    .navbar-right ul li:nth-child(4){
        display: none;
    }

    .menu{
        display: block;
        justify-self: center;
        padding-left: 8px;
        padding-right: 8px;
    }

}